h1 {
    text-align: center;
    font-size: 46px;
}

.buttons {
    text-align: center;
}

.buttons button {
    margin-top: 20px;
}

button, input {
    font-size: 30px;
    border: 2px solid black;
}

.fund {
    text-align: center;
    padding-top: 50px;
}