h1 {
    text-align: center;
    font-size: 46px;
}

.buttons {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

button, input {
    font-size: 30px;
    border: 2px solid black;
}

.fund {
    text-align: center;
    padding-top: 50px;
}